<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kino Angola</title>


    <!--==================================== LINKS ====================================-->
    <!-- FAVICON -->
    <link rel="shortcut icon" href="../../public/assets/images/logomarca/Kino Logo (1).png" type="image/x-icon">

    <!-- LOCAL CSS LINKS -->
    <link rel="stylesheet" href="../../public/assets/css/sign.css">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Demo styles -->
    <style>
    </style>


</head>

<body>

    <div class="container-sign">
        <form action="#">
            <h2>Iniciar Sessão</h2>
            <hr>
            <input type="email" required placeholder="E-mail">
            <input type="password" required placeholder="Senha">
            <input type="submit" value="Criar Conta" class="btn-p-2">
            <div class="lembrar">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Lembrar Senha</label>
            </div>

            <a href="register.html">Criar uma conta</a>
        </form>
    </div>


    <!--==================================== SCRIPTS ==================================== -->
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    <!-- LOCAL JS -->
    <script src="../../public/assets/js/scripts.js"></script>
</body>

</html>